@media (max-width: 767px) {
  video {
    width: auto;
  }

  .ourpledge, .container {
    padding: 10px;
  }

  .mainbody {
    margin: 0px;
  }

  .mainbody article {
    width: 100%;
    display: block;
  }

  footer p {
    width: 100%;
    display: block;
  }
}
