$blue: #305291;

.fa {
  font-size: 30px;
  border: 1px solid $blue;
  color: $blue;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
}

.fa:hover{
  background-color: $blue;
  color: white;
}

h1, h2, h3 {
  color: $blue;
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
}

p {
  color: #666666;
  line-height: 2em;
}
